---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <section>
    <div class="card horizontal">

    	<div class="image half">

    		<img src="{{ site.baseurl }}/images/{{ page.image }}" alt="{{ page.image-description }}">

        <div class="logo">
          <span class="fish-logo">
              Sea To Table
              <img src="{{ site.baseurl }}/images/logo/s2t_logo_fish.svg" alt="Fish Logo of Sea To Table">
              sea2table.com

      	 </span>
        </div>
      </div>


    	<div class="description half">

        <div class="highlight">
            <div class="post-content">
              {{ content }}
            </div>

            <h4 class="restaurant">{{ page.restaurant }}</h4> partners with Sea to Table and
            <h4 class="fisherman">{{ page.fisherman }}</h4>
        </div>

        <div class="details">
          <h5 class="dock">Dock: <em>{{ page.dock }}</em></h5>
          <h5 class="caption">In the photo: <em>{{ page.image-description }}</em></h5>

        </div>
      </div>

    </div>
  </section>

  <section>
    <div class="card vertical">

      <div class="image half">

        <img src="{{ site.baseurl }}/images/{{ page.image }}" alt="{{ page.image-description }}">

        <div class="logo">
          <span class="fish-logo">
              Sea To Table
              <img src="{{ site.baseurl }}/images/logo/s2t_logo_fish.svg" alt="Fish Logo of Sea To Table">
              sea2table.com

         </span>
        </div>
      </div>


      <div class="description half">

        <div class="highlight">
            <div class="post-content">
              {{ content }}
            </div>

            <h4 class="restaurant">{{ page.restaurant }}</h4> partners with Sea to Table and
            <h4 class="fisherman">{{ page.fisherman }}</h4>
        </div>

        <div class="details">
          <h5 class="dock">Dock: <em>{{ page.dock }}</em></h5>
          <h5 class="caption">In the photo: <em>{{ page.image-description }}</em></h5>

        </div>
      </div>
    </div>
  </section>

</div>